<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kPointsStandardMatch</key>
	<integer>100</integer>
	<key>kPointsDoubleMatch</key>
	<integer>300</integer>
	<key>kPointsShifterMatch</key>
	<integer>200</integer>
	<key>kPoints4Match</key>
	<integer>200</integer>
	<key>kPoints4MatchExplosion</key>
	<integer>300</integer>
	<key>kPoints5Match</key>
	<integer>400</integer>
	<key>kPointsSuperEliminatedSymbol</key>
	<integer>50</integer>
	<key>kPointsLMatch</key>
	<integer>500</integer>
	<key>kPointsCorruptedEliminated</key>
	<integer>100</integer>
	<key>kPointsCascadingMatch</key>
	<integer>100</integer>
	<key>kPointsDeducedWhenUsingPrompt</key>
	<integer>100</integer>
	<key>kPointsDeducedWhenNonMatchMove</key>
	<integer>100</integer>
	<key>kPointsRequiredToCompleteLevels1_5_Primary</key>
	<integer>6000</integer>
	<key>kPointsRequiredToCompleteLevels6_10_Primary</key>
	<integer>10000</integer>
	<key>kPointsRequiredToCompleteLevels11_15_Primary</key>
	<integer>10000</integer>
	<key>kPointsRequiredToCompleteLevels16_ON_Primary</key>
	<integer>10000</integer>
	<key>kPointsRequiredToCompleteLevels1_5_Action</key>
	<integer>3000</integer>
	<key>kPointsRequiredToCompleteLevels6_10_Action</key>
	<integer>5000</integer>
	<key>kPointsRequiredToCompleteLevels11_15_Action</key>
	<integer>5000</integer>
	<key>kPointsRequiredToCompleteLevels16_ON_Action</key>
	<integer>5000</integer>
	<key>kPointsRequiredToCompleteLevels1_5_Infinity</key>
	<integer>6000</integer>
	<key>kPointsRequiredToCompleteLevels6_10_Infinity</key>
	<integer>10000</integer>
	<key>kPointsRequiredToCompleteLevels11_15_Infinity</key>
	<integer>10000</integer>
	<key>kPointsRequiredToCompleteLevels16_ON_Infinity</key>
	<integer>10000</integer>
	<key>kProbabilityOfCorruptedSymbolInLevels1_5</key>
	<integer>100</integer>
	<key>kProbabilityOfShifterSymbolInLevels1_5</key>
	<integer>50</integer>
	<key>kProbabilityOfHiddenSymbolInLevels1_5</key>
	<integer>75</integer>
	<key>kProbabilityOfWildcardSymbolInLevels1_5</key>
	<integer>25</integer>
	<key>kProbabilityOfCorruptedSymbolInLevels6_10</key>
	<integer>50</integer>
	<key>kProbabilityOfShifterSymbolInLevels6_10</key>
	<integer>30</integer>
	<key>kProbabilityOfHiddenSymbolInLevels6_10</key>
	<integer>50</integer>
	<key>kProbabilityOfWildcardSymbolInLevel6_10</key>
	<integer>25</integer>
	<key>kProbabilityOfCorruptedSymbolInLevels11_15</key>
	<integer>25</integer>
	<key>kProbabilityOfShifterSymbolInLevels11_15</key>
	<integer>25</integer>
	<key>kProbabilityOfHiddenSymbolInLevels11_15</key>
	<integer>30</integer>
	<key>kProbabilityOfWildcardSymbolInLevels11_15</key>
	<integer>50</integer>
	<key>kProbabilityOfCorruptedSymbolInLevels16_ON</key>
	<integer>10</integer>
	<key>kProbabilityOfShifterSymbolsInLevels16_ON</key>
	<integer>10</integer>
	<key>kProbabilityOfHiddenSymbolInLevels16_ON</key>
	<integer>25</integer>
	<key>kProbabilityOfWildcardSymbolInLevels16_ON</key>
	<integer>50</integer>
	<key>kPointsForByte</key>
	<integer>500</integer>
</dict>
</plist>
